body {
  font-family: "Khula", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"] {
  font-weight: 300;
  color: #999;
  font-size: 15px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #373737;
  font-weight: 400; }

.section-padding {
  padding: 125px 0px; }

.max-width {
  max-width: 450px; }

.line-height {
  line-height: 1.4; }

p {
  line-height: 1.7; }

.hero-area h1 {
  font-size: 40px; }

@media (max-width: 992px) {
  .hero-area h1 {
    font-size: 33px; } }

@media (max-width: 576px) {
  .hero-area h1 {
    font-size: 30px; } }

#case-study h6 {
  font-size: 17px; }

.testimonial-meta h5 {
  font-size: 18px; }

.testimonial-meta p {
  font-size: 14px;
  font-weight: 300;
  color: #999; }

#partner .testimonial-item {
  font-size: 24px;
  color: #373737; }
  #partner .testimonial-item img {
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 50%; }

#pricing .pricing-heading .price {
  font-size: 50px;
  color: #ef476f;
  line-height: 60px; }

#pricing .pricing-heading .light-font {
  font-weight: 300; }

#pricing .pricing-content ul {
  font-weight: 300;
  line-height: 40px;
  font-size: 17px; }

#footer a {
  font-weight: 300; }

#header .nav-btn {
  background-color: #ef476f;
  color: white;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 25px 5px; }

.hero-area .website-analytic-form .box-btn {
  background-color: #ef476f;
  color: white;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 11px 25px 9px; }

.services-btn {
  color: #373737;
  text-decoration: none;
  display: inline-block;
  font-weight: 400; }

#how-it-works .box-btn {
  background-color: #ef476f;
  color: white;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-size: 15px;
  padding: 12px 43px 9px; }

#cta-area .box-btn {
  background-color: #ef476f;
  color: white;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 17px 43px 15px; }

/*
################
Slick carousel
################
*/
.slick-dots li {
  background: #e2e2e2;
  height: 3px;
  width: 20px; }
  .slick-dots li.slick-active {
    background: #ef476f; }
  .slick-dots li button {
    visibility: hidden; }

.next-arrow-btn {
  position: absolute;
  top: 40%;
  right: -3%;
  color: #ef476f;
  cursor: pointer; }

.prev-arrow-btn {
  position: absolute;
  top: 40%;
  left: -3%;
  color: #ef476f;
  cursor: pointer; }

#pricing .pricing-content a {
  background-color: #ef476f;
  color: white;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 35px 9px; }

/*
################
Slick carousel
################
*/
#footer input[type="submit"] {
  background-color: #ef476f;
  color: white;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 0px;
  padding: 7px; }

#header .main-menu {
  color: #888; }
  #header .main-menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
  #header .main-menu li {
    position: relative;
    display: inline-block; }
  #header .main-menu a {
    display: block;
    color: #888;
    padding: 12px 15px;
    text-decoration: none; }

#footer {
  background: #fdfdfd; }
  #footer a {
    color: #999; }
  #footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    line-height: 2; }
  #footer .subscribe-form input[type="email"] {
    margin: 0;
    width: 55%;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: -4px;
    padding: 15px;
    height: 45px; }
  #footer .subscribe-form input[type="submit"] {
    width: 30%;
    height: 45px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  #footer .social-link li {
    display: inline-block;
    width: 30%; }
  #footer li {
    color: #373737; }

.hero-area {
  padding: 175px 0px 160px 0px;
  border-bottom: 1px solid #f6f6f6; }
  .hero-area h1 {
    margin: 37px 0px 20px 0px; }
  .hero-area p {
    margin-bottom: 37px;
    font-weight: 300; }
  .hero-area .website-analytic-form input {
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    padding: 10px 60px 10px 20px; }

a:hover {
  text-decoration: none; }

/*
################
Service section 
################
*/
.services-item:hover {
  border-color: #ef476f !important;
  transition: 0.4s; }

.services-item i,
.services-item h3,
.services-item p,
.services-item a {
  transition: 0.4s; }

.services-item:hover h3,
.services-item:hover .services-btn,
.services-item:hover .zmdi {
  color: #ef476f !important;
  transition: 0.4s; }

/*
################
Case study section
################
*/
#case-study .csae-study-wrapper {
  transition: all 0.4s ease; }

#case-study .case-study-item:hover .csae-study-wrapper {
  opacity: 1; }

/*
################
Pricing section
################
*/
#pricing .pricing-box,
#pricing .pricing-heading {
  transition: 0.4s; }

#pricing .pricing-box:hover {
  border-color: #ef476f; }
  #pricing .pricing-box:hover .pricing-heading {
    border-color: #ef476f; }

#pricing .logo-item {
  height: 50px;
  opacity: 0.7;
  transition: 0.3s; }

#pricing .logo-item:hover {
  opacity: 1; }

/*
################
Footer
################
*/
#footer .social-link li,
#footer .social-link a {
  transition: 0.3s; }

#footer .social-link li:hover,
#footer .social-link li a:hover {
  color: #ef476f; }

#services .services-item {
  border: 1px solid #f3f3f3;
  border-radius: 3px;
  transition: 0.4s; }
  #services .services-item .services-icon {
    color: #231f20; }

#case-study {
  background: #fbfbfb; }
  #case-study .case-study-item {
    height: 320px;
    background: #ddd;
    display: table;
    border-radius: 3px; }
  #case-study .csae-study-wrapper {
    width: 100%;
    height: 320px;
    padding: 40px 30px;
    text-align: center;
    background: #ef476f;
    opacity: 0;
    border-radius: 3px; }
    #case-study .csae-study-wrapper h4,
    #case-study .csae-study-wrapper h6,
    #case-study .csae-study-wrapper p {
      color: white; }
    #case-study .csae-study-wrapper .case-study-more {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: white;
      color: #373737;
      line-height: 46px;
      border-radius: 50%; }
      #case-study .csae-study-wrapper .case-study-more i {
        margin-right: 5px; }
  #case-study .no-padding {
    padding: 0 !important; }

/*
################
Header area
################
*/
#header {
  margin-top: 20px; }

/*
################
Services section
################
*/
#how-it-works {
  padding-top: 80px; }

/*
################
Case study
################
*/
#case-study .margin-bottom {
  margin-bottom: 105px; }

#case-study .case-study-item h4 {
  margin-bottom: 15px; }

#case-study .case-study-item h6 {
  margin-bottom: 20px; }

#case-study .case-study-item p {
  margin-bottom: 15px; }

/*
################
Partner section
################
*/
#partner .testimonial-item {
  max-width: 650px; }
  #partner .testimonial-item p {
    line-height: 1.5;
    margin-bottom: 30px; }
  #partner .testimonial-item img {
    margin-bottom: 30px; }

/*
################
Slick carousel
################
*/
.slick-dots li {
  margin-top: 50px; }

.slick-list {
  padding-bottom: 20px; }

.slick-slide {
  margin: 0px 15px; }

.slick-list {
  margin: 0px 15px; }

/*
################
Cta area
################
*/
#cta-area {
  padding: 70px 0px;
  background: #f8f8f8; }
  #cta-area h3 {
    margin: 0px;
    padding-top: 12px; }

/*
################
Pricing area
################
*/
#pricing .pricing-box {
  margin-top: 80px; }

#pricing .pricing-heading {
  margin-bottom: 40px; }
  #pricing .pricing-heading h5 {
    margin-bottom: 18px; }
  #pricing .pricing-heading .price {
    margin: 0px; }

/*
################
Case study
################
*/
#footer {
  padding: 70px; }
  #footer .margin-bottom {
    margin-bottom: 25px; }
  #footer .subscribe-form {
    margin: 40px 0; }
  #footer .mr {
    margin-right: 7px; }

/*
################
Copyright
################
*/
#copyright-area {
  background-color: #f7f7f7;
  height: 50px;
  padding-top: 16px; }

#pricing .pricing-box {
  border: 1px solid #f3f3f3;
  border-radius: 3px;
  padding: 35px 50px;
  margin-bottom: 75px; }

#pricing .pricing-heading {
  border-bottom: 1px solid #f3f3f3; }

#pricing .pricing-content ul {
  list-style: none;
  padding: 0px;
  line-height: 40px; }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #header .nav-btn {
    font-size: 13px;
    padding: 7px 12px 5px; }
  #case-study .csae-study-wrapper {
    padding-top: 25px; }
  #case-study .case-study-item h4 {
    margin-bottom: 10px; }
  #case-study .case-study-item h6 {
    margin-bottom: 15px; }
  #cta-area h3 {
    font-size: 25px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header .logo {
    text-align: center; }
  #header .col-md-8 {
    display: none; }
  .col-md-2 {
    text-align: center !important; } }
