#case-study {
  background: $color-csae-study;

  .case-study-item {
    height: 320px;
    background: #ddd;
    display: table;
    border-radius: 3px;
  }

  .csae-study-wrapper {
    width: 100%;
    height: 320px;
    padding: 40px 30px;
    text-align: center;
    background: $color-hover;
    opacity: 0;
    border-radius: 3px;

    h4,
    h6,
    p {
      color: white;
    }

    .case-study-more {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: white;
      color: $color-heading;
      line-height: 46px;
      border-radius: 50%;
      i {
        margin-right: 5px;
      }
    }
  }

  // For making same as psd.
  .no-padding {
    padding: 0 !important;
  }
}
