/*
################
Service section 
################
*/
.services-item:hover {
  border-color: $hover-color !important;
  transition: 0.4s;
}

.services-item {
  i,
  h3,
  p,
  a {
    transition: 0.4s;
  }
}

.services-item:hover h3,
.services-item:hover .services-btn,
.services-item:hover .zmdi {
  color: $hover-color !important;
  transition: 0.4s;
}

/*
################
Case study section
################
*/
#case-study {
  .case-study-item:hover {
    .csae-study-wrapper {
      opacity: 1;
    }
  }
}
