// Base a tag
a:hover {
  text-decoration: none;
}

/*
################
Service section 
################
*/
.services-item:hover {
  border-color: $color-hover !important;
  transition: 0.4s;
}

.services-item {
  i,
  h3,
  p,
  a {
    transition: 0.4s;
  }
}

.services-item:hover h3,
.services-item:hover .services-btn,
.services-item:hover .zmdi {
  color: $color-hover !important;
  transition: 0.4s;
}

/*
################
Case study section
################
*/
#case-study {
  .csae-study-wrapper {
    transition: all 0.4s ease;
  }
  .case-study-item:hover {
    .csae-study-wrapper {
      opacity: 1;
    }
  }
}

/*
################
Pricing section
################
*/
#pricing {
  .pricing-box,
  .pricing-heading {
    transition: 0.4s;
  }
  .pricing-box:hover {
    border-color: $color-hover;
    .pricing-heading {
      border-color: $color-hover;
    }
  }

  .logo-item {
    height: 50px;
    opacity: 0.7;
    transition: 0.3s;
  }
  .logo-item:hover {
    opacity: 1;
  }
}

/*
################
Footer
################
*/
#footer {
  .social-link {
    li,
    a {
      transition: 0.3s;
    }
    li:hover,
    li a:hover {
      color: $color-hover;
    }
  }
}
