#pricing {
  .pricing-box {
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 35px 50px;
    margin-bottom: 75px;
  }

  .pricing-heading {
    border-bottom: 1px solid $border-color;
  }

  .pricing-content {
    ul {
      list-style: none;
      padding: 0px;
      line-height: 40px;
    }
  }
}
