/*
################
Header area
################
*/
.header-area {
  margin-top: 20px;
}

/*
################
Services section
################
*/
#how-it-works {
  padding-top: 80px;
}

/*
################
Case study
################
*/
#case-study {
  .margin-bottom {
    margin-bottom: 105px;
  }

  .case-study-item {
    h4 {
      margin-bottom: 15px;
    }
    h6 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 15px;
    }
  }
}

/*
################
Partner section
################
*/
#partner {
  .testimonial-item {
    max-width: 650px;
    p {
      line-height: 1.5;
      margin-bottom: 30px;
    }

    img {
      margin-bottom: 30px;
    }
  }
}

/*
################
Slick carousel
################
*/
.slick-dots li {
  margin-top: 50px;
}

// Space under the testimonial
.slick-list {
  padding-bottom: 20px;
}

.slick-slide {
  margin: 0px 15px;
}

.slick-list {
  margin: 0px 15px;
}

/*
################
Cta area
################
*/
#cta-area {
  padding: 70px 0px;
  background: $cta-color;

  h3 {
    margin: 0px;
    padding-top: 12px;
  }
}

/*
################
Pricing area
################
*/
#pricing {
  .pricing-box {
    margin-top: 80px;
  }
  .pricing-heading {
    margin-bottom: 40px;

    h5 {
      margin-bottom: 18px;
    }
    .price {
      margin: 0px;
    }
  }
}

/*
################
Case study
################
*/
#footer {
  .margin-bottom {
    margin-bottom: 25px;
  }
  padding: 70px;
  .subscribe-form {
    margin: 40px 0;
  }
  .mr {
    margin-right: 7px;
  }
}

/*
################
Copyright
################
*/
#copyright-area {
  background-color: $copyright-color;
  height: 50px;
  padding-top: 16px
}