#header {
  .main-menu {
    color: $color-menu;

    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
    }

    li {
      position: relative;
      display: inline-block;
    }

    a {
      display: block;
      color: $color-menu;
      padding: 12px 15px;
      text-decoration: none;
    }
  }
}
