.header-area {
  .nav-btn {
    @include btn-style();
    padding: 7px 25px 5px;
  }
}

.hero-area {
  .website-analytic-form {
    .box-btn {
      @include btn-style();
      padding: 11px 25px 9px;
    }
  }
}

.services-btn {
  color: $heading-color;
  text-decoration: none;
  display: inline-block;
  font-weight: $regular;
}

#how-it-works {
  .box-btn {
    @include btn-style();
    font-size: 15px;
    padding: 12px 43px 9px;
  }
}

#cta-area {
  .box-btn {
    @include btn-style();
    padding: 12px 43px 9px;
  }
}

/*
################
Slick carousel
################
*/
// Dot dot color
.slick-dots li {
  background: #e2e2e2;
  height: 3px;
  width: 20px;

  &.slick-active {
    background: $btn-color;
  }

  button {
    visibility: hidden;
  }
}
// Arrow button style
.next-arrow-btn {
  position: absolute;
  top: 40%;
  right: -3%;
  color: $btn-color;
  cursor: pointer;
}
.prev-arrow-btn {
  position: absolute;
  top: 40%;
  left: -3%;
  color: $btn-color;
  cursor: pointer;
}
