// Body
body {
  font-family: "Khula", sans-serif;
  font-size: 15px;
  font-weight: $regular;
  color: $text-color;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"] {
  font-weight: $light;
  color: $text-color;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: 400;
}

.section-padding {
  padding: 125px 0px;
}

.max-width {
  max-width: 450px;
}

.line-height {
  line-height: 1.4;
}
