p {
  line-height: 1.7;
}

// Hero Area
.hero-area {
  h1 {
    font-size: 40px;
  }
}

// Hero area heading resize.
@include media-query-h1-size($breakpoint_laptop, 33px);
@include media-query-h1-size($breakpoint_mobile, 30px);

// Case study
#case-study {
  h6 {
    font-size: 17px;
  }
}

// Partneer section
.testimonial-meta {
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    font-weight: $light;
    color: $color-text;
  }
}

#partner {
  .testimonial-item {
    font-size: 24px;
    color: $color-heading;

    img {
      height: 60px;
      width: 60px;
      display: inline-block;
      border-radius: 50%;
    }
  }
}

// Pricing and logo section
#pricing {
  .pricing-heading {
    .price {
      font-size: 50px;
      color: $color-btn;
      line-height: 60px;
    }
    .light-font {
      font-weight: $light;
    }
  }

  .pricing-content {
    ul {
      font-weight: $light;
      line-height: 40px;
      font-size: 17px;
    }
  }
}

// Footer
#footer {
  a {
    font-weight: $light;
  }
}
