@mixin btn-style {
  background-color: $color-btn;
  color: white;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: $regular;
}

@mixin media-query-h1-size($breakpoint, $size) {
  @media (max-width: $breakpoint) {
    .hero-area {
      h1 {
        font-size: $size;
      }
    }
  }
}
