// Colors
$heading-color: #373737;
$text-color: #999;
$menu-color: #888;
$btn-color: #ef476f;
$border-color: #efefef;
$icon-color: #231f20;
$hr: #f6f6f6;
$hover-color: #ef476f;
$border-color: #f3f3f3;
$case-study-color: #fbfbfb;
$cta-color: #f8f8f8;
$footer-color: #fdfdfd;
$copyright-color: #f7f7f7;

// Font weight
$regular: 400;
$light: 300;

// Breakpoint
$breakpoint-laptop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;


